spring:
  application:
    name: jc-backend

  # 데이터베이스 커넥션 풀 설정
  datasource:
    # 로컬 환경 변수가 없을 경우 기본값으로 localhost:5432의 journey_db 데이터베이스에 접속 시도
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:journey_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:여기에 비번을 넣으세요}
    driver-class-name: org.postgresql.Driver

  # JPA 및 하이버네이트 공간 쿼리 설정
  jpa:
    hibernate:
      ddl-auto: update # 엔티티 클래스 수정 시 DB 테이블 구조 자동 반영 (개발 단계용)
    properties:
      hibernate:
        show_sql: true # 실행되는 모든 SQL을 콘솔에 출력
        format_sql: true # SQL 가독성을 높여주는 포맷팅
        dialects:
          # 핵심 기능: PostGIS 공간 데이터 처리를 위해 하이버네이트 공간 정보 다이얼렉트 명시적 지정
          spatial: org.hibernate.spatial.dialect.postgis.PostgisDialect
    open-in-view: false # API 가 성능적으로 지연되는 현상을 방지하기 위한 OSIV 비활성화

# Swagger (API 자동 문서화 툴) 설정 항목
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html # 실행 후 브라우저에서 'http://localhost:8080/swagger-ui.html'로 접속 가능
    groups-order: ASC
    tags-sorter: alpha
    operations-sorter: alpha
    display-request-duration: true